@font-face {
  font-weight: 100;
  font-family: "Poppin";
  src: url(/fonts/Poppins-Thin.woff) format(woff), url(/fonts/Poppins-Thin.woff2) format(woff2);
}
@font-face {
  font-weight: 200;
  font-family: "Poppin";
  src: url(/fonts/Poppins-ExtraLight.woff) format(woff), url(/fonts/Poppins-ExtraLight.woff2) format(woff2);
}
@font-face {
  font-weight: 300;
  font-family: "Poppin";
  src: url(/fonts/Poppins-Light.woff) format(woff), url(/fonts/Poppins-Light.woff2) format(woff2);
}
@font-face {
  font-weight: 400;
  font-family: "Poppin";
  src: url(/fonts/Poppins-Regular.woff) format(woff), url(/fonts/Poppins-Regular.woff2) format(woff2);
}
@font-face {
  font-weight: 500;
  font-family: "Poppin";
  src: url(/fonts/Poppins-Medium.woff) format(woff), url(/fonts/Poppins-Medium.woff2) format(woff2);
}
@font-face {
  font-weight: 600;
  font-family: "Poppin";
  src: url(/fonts/Poppins-SemiBold.woff) format(woff), url(/fonts/Poppins-SemiBold.woff2) format(woff2);
}
@font-face {
  font-weight: 700;
  font-family: "Poppin";
  src: url(/fonts/Poppins-Bold.woff) format(woff), url(/fonts/Poppins-Bold.woff2) format(woff2);
}
@font-face {
  font-weight: 800;
  font-family: "Poppin";
  src: url(/fonts/Poppins-ExtraBold.woff) format(woff), url(/fonts/Poppins-ExtraBold.woff2) format(woff2);
}
@font-face {
  font-weight: 900;
  font-family: "Poppin";
  src: url(/fonts/Poppins-Black.woff) format(woff), url(/fonts/Poppins-Black.woff2) format(woff2Poppin);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Poppin", sans-serif;
  color: white;
  background-color: #1D1D1D;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.header_a {
  font-weight: 700;
  font-size: 12px;
}

.header {
  padding: 40px 112px 129px 63px;
}

.header_img {
  margin-right: 229px;
}

.header_ul {
  display: flex;
  gap: 64px;
}

.header_wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.display__img {
  margin-left: 120px;
  cursor: pointer;
  margin-right: 12px;
}

.btn {
  border-radius: 220px;
  background-color: #c75e90;
  color: white;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  border-color: transparent;
}

.hero__first {
  font-size: 14px;
  color: #696969;
}

.hero__title {
  font-size: 46px;
  color: white;
  margin-top: 28px;
}

.hero__text {
  font-size: 14px;
  width: 530px;
  margin: 28px 0 40px;
}

.btn {
  padding: 14px 42px;
  border: none;
  background-color: #C75E90;
  border-radius: 220px;
  width: 208px;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 170px;
  padding: 10px 80px;
}

.hero__btn {
  margin: 20px 0 50px;
}

.hero__minibox {
  border-radius: 20px;
  background-image: url("/assets/meow meow meow.png");
  background-repeat: no-repeat;
  background-size: 300px, 10px;
}

.minibox_sustext {
  font-size: 12px;
  letter-spacing: 6px;
  font-weight: 700;
  padding-top: 60px;
  padding-left: 60px;
}/*# sourceMappingURL=style.css.map */