@font-face {
  font-weight: 100;
  font-family: "Poppin";
  src: url(/fonts/Poppins-Thin.woff) format(woff), url(/fonts/Poppins-Thin.woff2) format(woff2);
}
@font-face {
  font-weight: 200;
  font-family: "Poppin";
  src: url(/fonts/Poppins-ExtraLight.woff) format(woff), url(/fonts/Poppins-ExtraLight.woff2) format(woff2);
}
@font-face {
  font-weight: 300;
  font-family: "Poppin";
  src: url(/fonts/Poppins-Light.woff) format(woff), url(/fonts/Poppins-Light.woff2) format(woff2);
}
@font-face {
  font-weight: 400;
  font-family: "Poppin";
  src: url(/fonts/Poppins-Regular.woff) format(woff), url(/fonts/Poppins-Regular.woff2) format(woff2);
}
@font-face {
  font-weight: 500;
  font-family: "Poppin";
  src: url(/fonts/Poppins-Medium.woff) format(woff), url(/fonts/Poppins-Medium.woff2) format(woff2);
}
@font-face {
  font-weight: 600;
  font-family: "Poppin";
  src: url(/fonts/Poppins-SemiBold.woff) format(woff), url(/fonts/Poppins-SemiBold.woff2) format(woff2);
}
@font-face {
  font-weight: 700;
  font-family: "Poppin";
  src: url(/fonts/Poppins-Bold.woff) format(woff), url(/fonts/Poppins-Bold.woff2) format(woff2);
}
@font-face {
  font-weight: 800;
  font-family: "Poppin";
  src: url(/fonts/Poppins-ExtraBold.woff) format(woff), url(/fonts/Poppins-ExtraBold.woff2) format(woff2);
}
@font-face {
  font-weight: 900;
  font-family: "Poppin";
  src: url(/fonts/Poppins-Black.woff) format(woff), url(/fonts/Poppins-Black.woff2) format(woff2Poppin);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Poppin", sans-serif;
  color: white;
  background-color: #1D1D1D;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.header_a {
  font-weight: 700;
  font-size: 12px;
}

.header {
  padding: 40px 112px 129px 63px;
}

.header_img {
  margin-right: 229px;
  cursor: pointer;
}

.header_ul {
  display: flex;
  gap: 64px;
}

.header_wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.display__img {
  margin-left: 120px;
  cursor: pointer;
  margin-right: 12px;
}

.btn {
  padding: 14px 42px;
  border-radius: 220px;
  background-color: #c75e90;
  color: white;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  border-color: transparent;
}

.btn:hover {
  transform: scale(1.1);
  transition: 0.1s linear;
}

.display__img:hover {
  transform: scale(1.1);
  transition: 0.1s linear;
}

.header_img:hover {
  transform: scale(1.1);
  transition: 0.1s linear;
}

.headrrr_li:hover {
  transform: scale(1.3);
  transition: 0.1s linear;
}

.hero__first {
  font-size: 14px;
  color: #696969;
  line-height: 21px;
}

.hero__title {
  font-size: 46px;
  color: white;
  margin-top: 28px;
}

.hero__text {
  font-size: 14px;
  width: 530px;
  margin: 28px 0 40px;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 170px;
  padding: 10px 20px;
}

.hero__btn {
  margin: 20px 0 50px;
}

.hero__minibox {
  border-radius: 20px;
  background-image: url("/assets/meow meow meow.png");
  background-repeat: no-repeat;
  background-size: 300px, 10px;
  position: relative;
}

.minibox_sustext {
  font-size: 12px;
  letter-spacing: 6px;
  font-weight: 700;
  padding-top: 60px;
  padding-left: 20px;
}

.minibox_text {
  padding-left: 20px;
  padding-bottom: 10px;
}

.minibox__pic {
  background-color: #C75E90;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 210px;
  top: 30px;
}

.hero__images {
  background-image: url("/assets/bg.png");
  background-repeat: no-repeat;
  background-position: 1064px;
  position: relative;
}

.hero__first-img {
  position: absolute;
  left: -70px;
  top: 108px;
}

.hero__second-img {
  position: absolute;
  left: -70px;
  top: 308px;
}

.hero__third-img {
  position: absolute;
  left: 46px;
  top: 474px;
}

.hero__fourth-img {
  position: absolute;
  left: 250px;
  top: 474px;
}

.block {
  background-color: #C75E90;
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 10px;
  margin-top: 86px;
  border-radius: 40px;
}

.block_right {
  background-color: #8E345F;
  width: 990px;
  height: 168;
  border-radius: 200px 40px 40px 200px;
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 40px;
  padding: 54px 36px;
}

.block_email {
  display: flex;
  align-items: center;
  gap: 40px;
}

.block_phone {
  display: flex;
  align-items: center;
  gap: 40px;
}

.block_left {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 40px;
  padding-left: 36px;
}

.block_location {
  width: 40px;
  height: 40px;
  background-color: #8E345F;
  border-radius: 50%;
  padding: 10px;
}

.block_img {
  width: 40px;
  height: 40px;
  background-color: #C75E90;
  border-radius: 50%;
  padding: 10px;
}

.block_email-text {
  font-size: 20px;
}

.block_phone-text {
  font-size: 20px;
}

.block_text-loc {
  font-size: 20px;
  width: 350px;
}

.hero2__black-text {
  color: #696969;
  letter-spacing: 0.9px;
  padding-top: 107px;
}

.hero2__wrapper {
  width: 1313px;
  height: 537px;
  border-radius: 40px;
  background-color: #161616;
  margin-top: 48px;
  padding-bottom: 17px;
}

.hero2__content-wrapper {
  padding-left: 58px;
  position: relative;
}

.hero2__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  padding-bottom: 31px;
}

.hero2__info {
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 54px;
}

.hero2__content-img {
  position: absolute;
  top: 34px;
  left: 739px;
  z-index: 1;
}

.cat__slashe {
  position: absolute;
  top: 65px;
  left: 920px;
}

.care {
  margin-top: 68px;
}

.care__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  width: 1313px;
  height: 476px;
  background-color: #161616;
  border-radius: 40px;
  margin-bottom: 65px;
}

.care__first {
  width: 312px;
  height: 476px;
  background-color: #c75e90;
  border-radius: 40px;
}

.care__black-text {
  padding: 88px 0 19px 29px;
  color: #181818;
  font-weight: 700;
  line-height: 18px;
  font-size: 12px;
  letter-spacing: 2px;
}

.care__first-title {
  padding-left: 29px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.care__first-info {
  padding-left: 29px;
  padding-bottom: 33px;
  font-size: 14px;
  line-height: 21px;
}

.care__first-btn {
  margin-left: 29px;
  background-color: #8e345f;
  border-radius: 220px;
  width: 236px;
  height: 45px;
  color: white;
  border-color: transparent;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  position: relative;
}

.care__first-btn::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(/assets/right-arrow.svg);
  position: absolute;
  top: 10px;
  left: 17px;
}

.care__second {
  margin-left: 51px;
}

.care__cat-img {
  margin-bottom: 28px;
}

.care__second-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 10px;
}

.care__second-info {
  font-size: 14px;
  line-height: 21px;
}

.care__slash {
  background-color: rgba(128, 128, 128, 0.1294117647);
  height: 361.5px;
  width: 1px;
  margin-left: 35.5px;
}

.care__second-part {
  display: flex;
  gap: 20px;
}

.care__second-part__wrapper {
  position: relative;
}

.care__second-part__wrapper::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url(/assets/home-icon.svg);
  background-color: #c75e90;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  left: 115px;
  bottom: -25px;
  cursor: pointer;
}

.care__cats-img {
  cursor: pointer;
}

.images {
  background-color: #C75E90;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: relative;
}

.rooms {
  display: flex;
  gap: 95px;
}

.img_room {
  left: 4px;
  bottom: 3px;
  position: absolute;
}

.first_p {
  color: #696969;
  margin-bottom: 28px;
}

.room_h4 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 45px;
}

.texts {
  display: flex;
  align-items: center;
  gap: 36px;
}

.room_p2 {
  margin-left: 80px;
  font-size: 14px;
  width: 450px;
  margin-bottom: 35px;
}

.room_p1 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.room_hr {
  width: 642.5px;
  color: rgba(128, 128, 128, 0.1294117647);
  margin-bottom: 27px;
}

.room_p11 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
  margin-bottom: 33px;
}/*# sourceMappingURL=style.css.map */