.hero2__black-text{
    color: #696969;
    letter-spacing: 0.9px;
    padding-top: 107px;
}

.hero2__wrapper{
    width: 1313px;
    height: 537px;
    border-radius: 40px;
    background-color: #161616;
    margin-top: 48px;
    padding-bottom: 17px;
}

.hero2__content-wrapper{
    padding-left: 58px;
    position: relative;
}

.hero2__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    padding-bottom: 31px;
}

.hero2__info{
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 54px;
}

.hero2__content-img{
    position: absolute;
    top: 34px;
    left: 739px;
    z-index: 1;
}

.cat__slashe{
    position: absolute;
    top: 65px;
    left: 920px;
}