.hero__first {
	font-size: 14px;
	color: #696969;
	line-height: 21px;
}
.hero__title {
	font-size: 46px;
	color: white;
	margin-top: 28px;
}
.hero__text {
	font-size: 14px;
	width: 530px;
	margin: 28px 0 40px;
}

.hero__wrapper {
	@include d-flex(0, 170px);
	padding: 10px 20px;
}
.hero__btn {
	margin: 20px 0 50px;
}
.hero__minibox {
	border-radius: 20px;
	background-image: url('/assets/meow\ meow\ meow.png');
	background-repeat: no-repeat;
	background-size: 300px, 10px;
	position: relative;
}
.minibox_sustext {
	font-size: 12px;
	letter-spacing: 6px;
	font-weight: 700;
	padding-top: 60px;
	padding-left: 20px;
}
.minibox_text {
	padding-left: 20px;
	padding-bottom: 10px;
}
.minibox__pic {
	background-color: #c75e90;
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	right: 210px;
	top: 30px;
}
.hero__images {
	position: relative;
}

.hero__images::before {
	content: '';
	width: 288px;
	height: 288px;
	background-image: url(/assets/slashes.svg);
	background-repeat: no-repeat;
	position: absolute;
	top: -70px;
	left: -80px;
	transform: rotate(94deg);
	z-index: -1;
}

.hero__images::after {
	content: '';
	width: 288px;
	height: 288px;
	background-image: url(/assets/slashes.svg);
	background-repeat: no-repeat;
	position: absolute;
	bottom: -70px;
	left: 290px;
	z-index: -1;
}

.hero__first-img {
	position: absolute;
	left: -70px;
	top: 108px;
}
.hero__second-img {
	position: absolute;
	left: -70px;
	top: 308px;
}
.hero__third-img {
	position: absolute;
	left: 46px;
	top: 474px;
}
.hero__fourth-img {
	position: absolute;
	left: 250px;
	top: 474px;
}
.block {
	background-color: #c75e90;
	@include d-flex(0, 10px);
	margin-top: 86px;
	border-radius: 40px;
	width: 1300px;
}
.block_right {
	background-color: #8e345f;
	width: 990px;
	height: 168;
	border-radius: 200px 80px 80px 200px;
	@include d-flex(0, 40px);
	padding: 54px 36px;
}
.block_email {
	display: flex;
	align-items: center;
	gap: 40px;
}
.block_phone {
	display: flex;
	align-items: center;
	gap: 40px;
}
.block_left {
	@include d-flex(0, 40px);
	padding-left: 36px;
}

.block_location {
	width: 60px;
	height: 60px;
	background-color: #8e345f;
	border-radius: 50%;
	padding: 10px;
	text-align: center;
	font-size: 30px;
}
.block_img {
	width: 60px;
	height: 60px;
	background-color: #c75e90;
	border-radius: 50%;
	padding: 10px;
	font-size: 30px;
	text-align: center;
}
.block_email-text {
	font-size: 20px;
}
.block_phone-text {
	font-size: 20px;
}
.block_text-loc {
	font-size: 20px;
	width: 350px;
}
