.price__sustext {
	font-size: 12px;
	color: #696969;
	margin-top: 67px;
}
.price__title {
	font-size: 40px;
	font-weight: 900;
	margin: 21px 0 18px;
}

.price__text {
	width: 646px;
	font-size: 14px;
	margin: auto;
	margin-bottom: 75px;
}
.price__top {
	text-align: center;
}
.ducal-spn {
	font-size: 14px;
}
.ducal-title {
	font-size: 40px;
	margin: 18px 7 44px 41px;

}
.ducal-text {
	color: #c75e90;
    font-weight: 700;
    line-height: 24px
}
.ducal-first {
	@include d-flex(flex-start, 136px);
}

.price__menu{
display: flex;
gap: 32px;
flex-direction: column;
}


.price__item {
	@include d-flex(flex-start, 5px);
	margin-top: 21px;
}
.price__ducal {
	background-color: #161616;
	width: 475px;
	padding: 28px 65px;
	border-radius: 40px;
	height: 590px;
}
.menu-btn {
	margin-top: 20px;
	width: 236px;
}
.price__imperial {
	background-color: #c75e90;
	width: 521px;
	padding: 27px 65px;
	border-radius: 40px;
	height: 644px;
}
.imperial-text {
	font-weight: 700;
	line-height: 24px;
}
.active {
	background-color: #8e345f;
}
.price__main {
	@include d-flex(0, 0);
	padding: 65px;
}
