.images{
    background-color: $button-color;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
}
.rooms{
    @include d-flex(center, 95px);
    padding: 98px 63px;
    
}
.img_room{
    left:8px;
    top: 15px;
    position: absolute;
}
.first_p{
    color: #696969;
    margin-bottom: 28px;
}
.room_h4{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 45px;
}
.texts{
    display: flex;
    align-items: center;
    gap: 36px;
}
.room_p2{
    margin-left: 80px;
    font-size: 14px;
    width: 450px;
    margin-bottom: 35px;
}
.room_p1{
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 19px;
}
.room_hr{
    width: 642.5px;
    color: #80808021;
    margin-bottom: 27px;
}
.room_p11{
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    margin-bottom: 33px;
}